body {
  background: #eee;
  font-family: sans-serif;
  padding: 15px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: auto;
} 

.title {
  background: #e3f4ff;
  padding: 15px;
}

.content {
  background: #e3f4ff;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  padding: 15px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 15px;
}